<div class="dialog">
    <div class="title">
        <h3 class="title-text">Überschrift</h3>
        <a href="javascript:void(0)" class="close-button" (click)="abort()">&times;</a>
    </div>
    <mat-dialog-content class="mat-typography">
        Unterschrift Unterschrift Unterschrift Unterschrift Unterschrift Unterschrift Unterschrift Unterschrift 
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" type="submit" mat-dialog-close>Ok</button>
    </mat-dialog-actions>
</div>
